    /*
    Flaticon icon font: Flaticon
    Creation date: 12/09/2017 08:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-storm-12:before { content: "\f100"; }
.flaticon-002-cloudy-13:before { content: "\f101"; }
.flaticon-003-snow-8:before { content: "\f102"; }
.flaticon-004-snow-7:before { content: "\f103"; }
.flaticon-005-thermometer-8:before { content: "\f104"; }
.flaticon-006-cloudy-12:before { content: "\f105"; }
.flaticon-007-rain-27:before { content: "\f106"; }
.flaticon-008-snowflake-3:before { content: "\f107"; }
.flaticon-009-rain-26:before { content: "\f108"; }
.flaticon-010-rain-25:before { content: "\f109"; }
.flaticon-011-cloudy-11:before { content: "\f10a"; }
.flaticon-012-rain-24:before { content: "\f10b"; }
.flaticon-013-sun-8:before { content: "\f10c"; }
.flaticon-014-cloud-8:before { content: "\f10d"; }
.flaticon-015-rain-23:before { content: "\f10e"; }
.flaticon-016-snow-6:before { content: "\f10f"; }
.flaticon-017-thermometer-7:before { content: "\f110"; }
.flaticon-018-thermometer-6:before { content: "\f111"; }
.flaticon-019-rain-22:before { content: "\f112"; }
.flaticon-020-storm-11:before { content: "\f113"; }
.flaticon-021-hail-2:before { content: "\f114"; }
.flaticon-022-rain-21:before { content: "\f115"; }
.flaticon-023-rain-20:before { content: "\f116"; }
.flaticon-024-thermometer-5:before { content: "\f117"; }
.flaticon-025-cloudy-day:before { content: "\f118"; }
.flaticon-026-cloudy-10:before { content: "\f119"; }
.flaticon-027-wind-sign:before { content: "\f11a"; }
.flaticon-028-cloudy-9:before { content: "\f11b"; }
.flaticon-029-sun-7:before { content: "\f11c"; }
.flaticon-030-rain-19:before { content: "\f11d"; }
.flaticon-031-rain-18:before { content: "\f11e"; }
.flaticon-032-rain-17:before { content: "\f11f"; }
.flaticon-033-cloud-7:before { content: "\f120"; }
.flaticon-034-snowflake-2:before { content: "\f121"; }
.flaticon-035-snow-5:before { content: "\f122"; }
.flaticon-036-cloud-6:before { content: "\f123"; }
.flaticon-037-storm-10:before { content: "\f124"; }
.flaticon-038-temperature:before { content: "\f125"; }
.flaticon-039-cloudy-night-1:before { content: "\f126"; }
.flaticon-040-sun-6:before { content: "\f127"; }
.flaticon-041-cloud-5:before { content: "\f128"; }
.flaticon-042-storm-9:before { content: "\f129"; }
.flaticon-043-rain-16:before { content: "\f12a"; }
.flaticon-044-cloud-4:before { content: "\f12b"; }
.flaticon-045-cloudy-8:before { content: "\f12c"; }
.flaticon-046-thermometer-4:before { content: "\f12d"; }
.flaticon-047-snow-4:before { content: "\f12e"; }
.flaticon-048-storm-8:before { content: "\f12f"; }
.flaticon-049-snowflake-1:before { content: "\f130"; }
.flaticon-050-sun-5:before { content: "\f131"; }
.flaticon-051-cloud-3:before { content: "\f132"; }
.flaticon-052-rain-15:before { content: "\f133"; }
.flaticon-053-snow-3:before { content: "\f134"; }
.flaticon-054-rain-14:before { content: "\f135"; }
.flaticon-055-cloudy-7:before { content: "\f136"; }
.flaticon-056-rain-13:before { content: "\f137"; }
.flaticon-057-storm-7:before { content: "\f138"; }
.flaticon-058-rain-12:before { content: "\f139"; }
.flaticon-059-cloud-2:before { content: "\f13a"; }
.flaticon-060-umbrella-1:before { content: "\f13b"; }
.flaticon-061-hail-1:before { content: "\f13c"; }
.flaticon-062-cloudy-6:before { content: "\f13d"; }
.flaticon-063-sun-4:before { content: "\f13e"; }
.flaticon-064-cloudy-5:before { content: "\f13f"; }
.flaticon-065-cloudy-4:before { content: "\f140"; }
.flaticon-066-snow-2:before { content: "\f141"; }
.flaticon-067-storm-6:before { content: "\f142"; }
.flaticon-068-storm-5:before { content: "\f143"; }
.flaticon-069-storm-4:before { content: "\f144"; }
.flaticon-070-cloudy-3:before { content: "\f145"; }
.flaticon-071-storm-3:before { content: "\f146"; }
.flaticon-072-hail:before { content: "\f147"; }
.flaticon-073-cloudy-2:before { content: "\f148"; }
.flaticon-074-thermometer-3:before { content: "\f149"; }
.flaticon-075-cloudy-night:before { content: "\f14a"; }
.flaticon-076-sun-3:before { content: "\f14b"; }
.flaticon-077-cloudy-1:before { content: "\f14c"; }
.flaticon-078-cloudy:before { content: "\f14d"; }
.flaticon-079-cloud-1:before { content: "\f14e"; }
.flaticon-080-rain-11:before { content: "\f14f"; }
.flaticon-081-rain-10:before { content: "\f150"; }
.flaticon-082-rain-9:before { content: "\f151"; }
.flaticon-083-storm-2:before { content: "\f152"; }
.flaticon-084-rain-8:before { content: "\f153"; }
.flaticon-085-snow-1:before { content: "\f154"; }
.flaticon-086-rain-7:before { content: "\f155"; }
.flaticon-087-night:before { content: "\f156"; }
.flaticon-088-storm-1:before { content: "\f157"; }
.flaticon-089-storm:before { content: "\f158"; }
.flaticon-090-sunrise-1:before { content: "\f159"; }
.flaticon-091-sunrise:before { content: "\f15a"; }
.flaticon-092-snowflake:before { content: "\f15b"; }
.flaticon-093-snow:before { content: "\f15c"; }
.flaticon-094-thermometer-2:before { content: "\f15d"; }
.flaticon-095-rain-6:before { content: "\f15e"; }
.flaticon-096-thermometer-1:before { content: "\f15f"; }
.flaticon-097-rain-5:before { content: "\f160"; }
.flaticon-098-umbrella:before { content: "\f161"; }
.flaticon-099-rain-4:before { content: "\f162"; }
.flaticon-100-rain-3:before { content: "\f163"; }
.flaticon-101-smartphone-1:before { content: "\f164"; }
.flaticon-102-smartphone:before { content: "\f165"; }
.flaticon-103-thermometer:before { content: "\f166"; }
.flaticon-104-rain-2:before { content: "\f167"; }
.flaticon-105-sun-2:before { content: "\f168"; }
.flaticon-106-cloud:before { content: "\f169"; }
.flaticon-107-rain-1:before { content: "\f16a"; }
.flaticon-108-sun-1:before { content: "\f16b"; }
.flaticon-109-sun:before { content: "\f16c"; }
.flaticon-110-rain:before { content: "\f16d"; }
    
    $font-Flaticon-001-storm-12: "\f100";
    $font-Flaticon-002-cloudy-13: "\f101";
    $font-Flaticon-003-snow-8: "\f102";
    $font-Flaticon-004-snow-7: "\f103";
    $font-Flaticon-005-thermometer-8: "\f104";
    $font-Flaticon-006-cloudy-12: "\f105";
    $font-Flaticon-007-rain-27: "\f106";
    $font-Flaticon-008-snowflake-3: "\f107";
    $font-Flaticon-009-rain-26: "\f108";
    $font-Flaticon-010-rain-25: "\f109";
    $font-Flaticon-011-cloudy-11: "\f10a";
    $font-Flaticon-012-rain-24: "\f10b";
    $font-Flaticon-013-sun-8: "\f10c";
    $font-Flaticon-014-cloud-8: "\f10d";
    $font-Flaticon-015-rain-23: "\f10e";
    $font-Flaticon-016-snow-6: "\f10f";
    $font-Flaticon-017-thermometer-7: "\f110";
    $font-Flaticon-018-thermometer-6: "\f111";
    $font-Flaticon-019-rain-22: "\f112";
    $font-Flaticon-020-storm-11: "\f113";
    $font-Flaticon-021-hail-2: "\f114";
    $font-Flaticon-022-rain-21: "\f115";
    $font-Flaticon-023-rain-20: "\f116";
    $font-Flaticon-024-thermometer-5: "\f117";
    $font-Flaticon-025-cloudy-day: "\f118";
    $font-Flaticon-026-cloudy-10: "\f119";
    $font-Flaticon-027-wind-sign: "\f11a";
    $font-Flaticon-028-cloudy-9: "\f11b";
    $font-Flaticon-029-sun-7: "\f11c";
    $font-Flaticon-030-rain-19: "\f11d";
    $font-Flaticon-031-rain-18: "\f11e";
    $font-Flaticon-032-rain-17: "\f11f";
    $font-Flaticon-033-cloud-7: "\f120";
    $font-Flaticon-034-snowflake-2: "\f121";
    $font-Flaticon-035-snow-5: "\f122";
    $font-Flaticon-036-cloud-6: "\f123";
    $font-Flaticon-037-storm-10: "\f124";
    $font-Flaticon-038-temperature: "\f125";
    $font-Flaticon-039-cloudy-night-1: "\f126";
    $font-Flaticon-040-sun-6: "\f127";
    $font-Flaticon-041-cloud-5: "\f128";
    $font-Flaticon-042-storm-9: "\f129";
    $font-Flaticon-043-rain-16: "\f12a";
    $font-Flaticon-044-cloud-4: "\f12b";
    $font-Flaticon-045-cloudy-8: "\f12c";
    $font-Flaticon-046-thermometer-4: "\f12d";
    $font-Flaticon-047-snow-4: "\f12e";
    $font-Flaticon-048-storm-8: "\f12f";
    $font-Flaticon-049-snowflake-1: "\f130";
    $font-Flaticon-050-sun-5: "\f131";
    $font-Flaticon-051-cloud-3: "\f132";
    $font-Flaticon-052-rain-15: "\f133";
    $font-Flaticon-053-snow-3: "\f134";
    $font-Flaticon-054-rain-14: "\f135";
    $font-Flaticon-055-cloudy-7: "\f136";
    $font-Flaticon-056-rain-13: "\f137";
    $font-Flaticon-057-storm-7: "\f138";
    $font-Flaticon-058-rain-12: "\f139";
    $font-Flaticon-059-cloud-2: "\f13a";
    $font-Flaticon-060-umbrella-1: "\f13b";
    $font-Flaticon-061-hail-1: "\f13c";
    $font-Flaticon-062-cloudy-6: "\f13d";
    $font-Flaticon-063-sun-4: "\f13e";
    $font-Flaticon-064-cloudy-5: "\f13f";
    $font-Flaticon-065-cloudy-4: "\f140";
    $font-Flaticon-066-snow-2: "\f141";
    $font-Flaticon-067-storm-6: "\f142";
    $font-Flaticon-068-storm-5: "\f143";
    $font-Flaticon-069-storm-4: "\f144";
    $font-Flaticon-070-cloudy-3: "\f145";
    $font-Flaticon-071-storm-3: "\f146";
    $font-Flaticon-072-hail: "\f147";
    $font-Flaticon-073-cloudy-2: "\f148";
    $font-Flaticon-074-thermometer-3: "\f149";
    $font-Flaticon-075-cloudy-night: "\f14a";
    $font-Flaticon-076-sun-3: "\f14b";
    $font-Flaticon-077-cloudy-1: "\f14c";
    $font-Flaticon-078-cloudy: "\f14d";
    $font-Flaticon-079-cloud-1: "\f14e";
    $font-Flaticon-080-rain-11: "\f14f";
    $font-Flaticon-081-rain-10: "\f150";
    $font-Flaticon-082-rain-9: "\f151";
    $font-Flaticon-083-storm-2: "\f152";
    $font-Flaticon-084-rain-8: "\f153";
    $font-Flaticon-085-snow-1: "\f154";
    $font-Flaticon-086-rain-7: "\f155";
    $font-Flaticon-087-night: "\f156";
    $font-Flaticon-088-storm-1: "\f157";
    $font-Flaticon-089-storm: "\f158";
    $font-Flaticon-090-sunrise-1: "\f159";
    $font-Flaticon-091-sunrise: "\f15a";
    $font-Flaticon-092-snowflake: "\f15b";
    $font-Flaticon-093-snow: "\f15c";
    $font-Flaticon-094-thermometer-2: "\f15d";
    $font-Flaticon-095-rain-6: "\f15e";
    $font-Flaticon-096-thermometer-1: "\f15f";
    $font-Flaticon-097-rain-5: "\f160";
    $font-Flaticon-098-umbrella: "\f161";
    $font-Flaticon-099-rain-4: "\f162";
    $font-Flaticon-100-rain-3: "\f163";
    $font-Flaticon-101-smartphone-1: "\f164";
    $font-Flaticon-102-smartphone: "\f165";
    $font-Flaticon-103-thermometer: "\f166";
    $font-Flaticon-104-rain-2: "\f167";
    $font-Flaticon-105-sun-2: "\f168";
    $font-Flaticon-106-cloud: "\f169";
    $font-Flaticon-107-rain-1: "\f16a";
    $font-Flaticon-108-sun-1: "\f16b";
    $font-Flaticon-109-sun: "\f16c";
    $font-Flaticon-110-rain: "\f16d";