	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/09/2017 08:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-storm-12:before { content: "\f100"; }
.flaticon-002-cloudy-13:before { content: "\f101"; }
.flaticon-003-snow-8:before { content: "\f102"; }
.flaticon-004-snow-7:before { content: "\f103"; }
.flaticon-005-thermometer-8:before { content: "\f104"; }
.flaticon-006-cloudy-12:before { content: "\f105"; }
.flaticon-007-rain-27:before { content: "\f106"; }
.flaticon-008-snowflake-3:before { content: "\f107"; }
.flaticon-009-rain-26:before { content: "\f108"; }
.flaticon-010-rain-25:before { content: "\f109"; }
.flaticon-011-cloudy-11:before { content: "\f10a"; }
.flaticon-012-rain-24:before { content: "\f10b"; }
.flaticon-013-sun-8:before { content: "\f10c"; }
.flaticon-014-cloud-8:before { content: "\f10d"; }
.flaticon-015-rain-23:before { content: "\f10e"; }
.flaticon-016-snow-6:before { content: "\f10f"; }
.flaticon-017-thermometer-7:before { content: "\f110"; }
.flaticon-018-thermometer-6:before { content: "\f111"; }
.flaticon-019-rain-22:before { content: "\f112"; }
.flaticon-020-storm-11:before { content: "\f113"; }
.flaticon-021-hail-2:before { content: "\f114"; }
.flaticon-022-rain-21:before { content: "\f115"; }
.flaticon-023-rain-20:before { content: "\f116"; }
.flaticon-024-thermometer-5:before { content: "\f117"; }
.flaticon-025-cloudy-day:before { content: "\f118"; }
.flaticon-026-cloudy-10:before { content: "\f119"; }
.flaticon-027-wind-sign:before { content: "\f11a"; }
.flaticon-028-cloudy-9:before { content: "\f11b"; }
.flaticon-029-sun-7:before { content: "\f11c"; }
.flaticon-030-rain-19:before { content: "\f11d"; }
.flaticon-031-rain-18:before { content: "\f11e"; }
.flaticon-032-rain-17:before { content: "\f11f"; }
.flaticon-033-cloud-7:before { content: "\f120"; }
.flaticon-034-snowflake-2:before { content: "\f121"; }
.flaticon-035-snow-5:before { content: "\f122"; }
.flaticon-036-cloud-6:before { content: "\f123"; }
.flaticon-037-storm-10:before { content: "\f124"; }
.flaticon-038-temperature:before { content: "\f125"; }
.flaticon-039-cloudy-night-1:before { content: "\f126"; }
.flaticon-040-sun-6:before { content: "\f127"; }
.flaticon-041-cloud-5:before { content: "\f128"; }
.flaticon-042-storm-9:before { content: "\f129"; }
.flaticon-043-rain-16:before { content: "\f12a"; }
.flaticon-044-cloud-4:before { content: "\f12b"; }
.flaticon-045-cloudy-8:before { content: "\f12c"; }
.flaticon-046-thermometer-4:before { content: "\f12d"; }
.flaticon-047-snow-4:before { content: "\f12e"; }
.flaticon-048-storm-8:before { content: "\f12f"; }
.flaticon-049-snowflake-1:before { content: "\f130"; }
.flaticon-050-sun-5:before { content: "\f131"; }
.flaticon-051-cloud-3:before { content: "\f132"; }
.flaticon-052-rain-15:before { content: "\f133"; }
.flaticon-053-snow-3:before { content: "\f134"; }
.flaticon-054-rain-14:before { content: "\f135"; }
.flaticon-055-cloudy-7:before { content: "\f136"; }
.flaticon-056-rain-13:before { content: "\f137"; }
.flaticon-057-storm-7:before { content: "\f138"; }
.flaticon-058-rain-12:before { content: "\f139"; }
.flaticon-059-cloud-2:before { content: "\f13a"; }
.flaticon-060-umbrella-1:before { content: "\f13b"; }
.flaticon-061-hail-1:before { content: "\f13c"; }
.flaticon-062-cloudy-6:before { content: "\f13d"; }
.flaticon-063-sun-4:before { content: "\f13e"; }
.flaticon-064-cloudy-5:before { content: "\f13f"; }
.flaticon-065-cloudy-4:before { content: "\f140"; }
.flaticon-066-snow-2:before { content: "\f141"; }
.flaticon-067-storm-6:before { content: "\f142"; }
.flaticon-068-storm-5:before { content: "\f143"; }
.flaticon-069-storm-4:before { content: "\f144"; }
.flaticon-070-cloudy-3:before { content: "\f145"; }
.flaticon-071-storm-3:before { content: "\f146"; }
.flaticon-072-hail:before { content: "\f147"; }
.flaticon-073-cloudy-2:before { content: "\f148"; }
.flaticon-074-thermometer-3:before { content: "\f149"; }
.flaticon-075-cloudy-night:before { content: "\f14a"; }
.flaticon-076-sun-3:before { content: "\f14b"; }
.flaticon-077-cloudy-1:before { content: "\f14c"; }
.flaticon-078-cloudy:before { content: "\f14d"; }
.flaticon-079-cloud-1:before { content: "\f14e"; }
.flaticon-080-rain-11:before { content: "\f14f"; }
.flaticon-081-rain-10:before { content: "\f150"; }
.flaticon-082-rain-9:before { content: "\f151"; }
.flaticon-083-storm-2:before { content: "\f152"; }
.flaticon-084-rain-8:before { content: "\f153"; }
.flaticon-085-snow-1:before { content: "\f154"; }
.flaticon-086-rain-7:before { content: "\f155"; }
.flaticon-087-night:before { content: "\f156"; }
.flaticon-088-storm-1:before { content: "\f157"; }
.flaticon-089-storm:before { content: "\f158"; }
.flaticon-090-sunrise-1:before { content: "\f159"; }
.flaticon-091-sunrise:before { content: "\f15a"; }
.flaticon-092-snowflake:before { content: "\f15b"; }
.flaticon-093-snow:before { content: "\f15c"; }
.flaticon-094-thermometer-2:before { content: "\f15d"; }
.flaticon-095-rain-6:before { content: "\f15e"; }
.flaticon-096-thermometer-1:before { content: "\f15f"; }
.flaticon-097-rain-5:before { content: "\f160"; }
.flaticon-098-umbrella:before { content: "\f161"; }
.flaticon-099-rain-4:before { content: "\f162"; }
.flaticon-100-rain-3:before { content: "\f163"; }
.flaticon-101-smartphone-1:before { content: "\f164"; }
.flaticon-102-smartphone:before { content: "\f165"; }
.flaticon-103-thermometer:before { content: "\f166"; }
.flaticon-104-rain-2:before { content: "\f167"; }
.flaticon-105-sun-2:before { content: "\f168"; }
.flaticon-106-cloud:before { content: "\f169"; }
.flaticon-107-rain-1:before { content: "\f16a"; }
.flaticon-108-sun-1:before { content: "\f16b"; }
.flaticon-109-sun:before { content: "\f16c"; }
.flaticon-110-rain:before { content: "\f16d"; }